MATRIX_MODE = development # - "development" or "production"
DATABASE_URL = localhost  # - Connection string for data storage
API_KEY = API_KEY #  - Secret key for external services
LOG_LEVEL = 1 # - Logging verbosity
ZION_ENDPOINT = api.eloi-berlinger.ovh # - URL for the resistance network
